[*.cs]
dotnet_analyzer_diagnostic.severity = none
resharper_value_parameter_not_used_highlighting = none
resharper_check_namespace_highlighting = none
resharper_field_can_be_made_read_only_global_highlighting = none
resharper_field_can_be_made_read_only_local_highlighting = none
resharper_unused_field_compiler_highlighting = none
resharper_unused_auto_property_accessor_global_highlighting = none
resharper_unused_auto_property_accessor_local_highlighting = none
resharper_unused_tuple_component_in_return_value_highlighting = none
resharper_unused_local_function_highlighting = none
resharper_unused_method_return_value_global_highlighting = none
resharper_unused_method_return_value_local_highlighting = none
resharper_unused_type_global_highlighting = none
resharper_unused_type_local_highlighting = none
resharper_unused_member_local_highlighting = none
resharper_unused_member_global_highlighting = none
resharper_c_sharp_warnings_cs0252_cs0253_highlighting = none
resharper_unused_variable_highlighting = none
resharper_redundant_suppress_nullable_warning_expression_highlighting = none
resharper_value_parameter_not_used_highlighting = none
resharper_member_can_be_made_static_global_highlighting = none
resharper_value_parameter_not_used_highlighting = none
resharper_unused_parameter_local_highlighting = none
resharper_use_array_empty_method_highlighting = none
resharper_local_function_can_be_made_static_highlighting = none
resharper_member_can_be_made_static_global_highlighting = none
resharper_member_can_be_made_static_local_highlighting = none
resharper_arrange_type_modifiers_highlighting = none
resharper_arrange_type_member_modifiers_highlighting = none
resharper_inconsistent_naming_highlighting = none
resharper_bad_parens_spaces_highlighting = none
resharper_event_never_subscribed_to_local_highlighting = none
resharper_event_unsubscription_via_anonymous_delegate_highlighting = none
resharper_redundant_overridden_member_highlighting = none
resharper_arrange_accessor_owner_body_highlighting = none
resharper_object_creation_as_statement_highlighting = none
resharper_access_to_disposed_closure_highlighting = none
resharper_convert_to_constant_global_highlighting = none
resharper_convert_to_constant_local_highlighting = none
resharper_join_declaration_and_initializer_highlighting = none
resharper_generic_enumerator_not_disposed_highlighting = none
resharper_redundant_cast_highlighting = none
resharper_return_type_can_be_not_nullable_highlighting = none
resharper_redundant_assignment_highlighting = none
resharper_partial_method_with_single_part_highlighting = none
resharper_partial_type_with_single_part_highlighting = none
resharper_unassigned_get_only_auto_property_highlighting = none
resharper_class_never_instantiated_global_highlighting = none
resharper_class_never_instantiated_local_highlighting = none
dotnet_diagnostic.CA1805.severity = none
dotnet_diagnostic.CA1825.severity = none
dotnet_diagnostic.CA1821.severity = none
dotnet_diagnostic.SA1402.severity = none
dotnet_diagnostic.IDE0025.severity = none
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.IDE0032.severity = none
dotnet_diagnostic.IDE0039.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0026.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0021.severity = none
dotnet_diagnostic.IDE0270.severity = none
dotnet_diagnostic.CS0067.severity = none
dotnet_diagnostic.SA1316.severity = none