.vs/

bin/
obj/
*.user
*.local
artifacts/
*.g.props
/Metalama.Samples.Import.props
eng/tools
*.log
*.binlog
/.config/dotnet-tools.json
*.g.props
*.g.ps1
*.g.json
global.json
nuget.config
**/.idea/copilot.data.*