<configuration>
    <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-preview" value="https://www.myget.org/F/roslyn-consolidated/api/v3/index.json" />
  </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="dotnet-preview">
            <package pattern="Microsoft.CodeAnalysis.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>