# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Caravela.Samples.iml
# Datasource local storage ignored files
/../../../../../../:\src\Caravela.Samples\.idea\.idea.Caravela.Samples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
