# C# files
[*.cs]

resharper_check_namespace_highlighting = none

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false
max_line_length = 100

